Alexandre Delanoë <alexandre.delanoe@iscpif.fr> <alexandre.delanoe@iscpif.fr>
Alexandre Delanoë <alexandre.delanoe@iscpif.fr> <devel+git@delanoe.org>
Alfredo Di Napoli <alfredo@well-typed.com> <alfredo.dinapoli@gmail.com>
Alfredo Di Napoli <alfredo@well-typed.com> <alfredo@well-typed.com>
Alp Mestanogullari <alp@well-typed.com> <alp@well-typed.com>
Christian Merten <christian@merten.dev> <christian@merten.dev>
David Chavalarias <david.chavalarias@iscpif.fr> <david.chavalarias@iscpif.fr>
Fabien Manière <fabien@cnrs.iscpif.fr> <fabien.maniere@cnrs.fr>
Fabien Manière <fabien@cnrs.iscpif.fr> <fabien@cnrs.iscpif.fr>
Fabien Manière <fabien@cnrs.iscpif.fr> <fmaniere.pro@gmail.com>
Gargamelle <gargamelle@gargantext.org>
Guillaume Chérel <guillaume.cherel@iscpif.fr> <guillaume.cherel@iscpif.fr>
Justin Woo <moomoowoo@gmail.com> <moomoowoo@gmail.com>
Karen Konou <konoukaren@gmail.com> <konoukaren@gmail.com>
Maël Nicolas <mael.nicolas@imt.fr> <mael.nicolas@imt.fr>
Nicolas Pouillard <nicolas.pouillard@gmail.com> <nicolas.pouillard@gmail.com>
Nicolas Pouillard <nicolas.pouillard@gmail.com> <np.t0@nicolaspouillard.fr>
Przemysław Kaminski <pk@intrepidus.pl> <pk@intrepidus.pl>
Quentin Lobbé <quentin.lobbe@iscpif.fr> <quentin.lobbe@gmail.com>
Quentin Lobbé <quentin.lobbe@iscpif.fr> <quentin.lobbe@iscpif.fr>
Sudhir Kumar <s@atomicits.com> <s@atomicits.com>
